<h1>Rick and Morty</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
      <ul>
 	      {{#each quote}}
  		    <li>
  	   	 {{!--  <p>ID: {{this.id}}</p> --}}
         	<p>{{this.quotation}}</p>
  		    </li>
  		  {{/each}}
      </ul>
      <form>
      <button type="submit" class="btn btn-primary newquote" name="" id="button">
      <p>Random Quote</p>
      </button>
      </form>
    </div>


    <h2>Add a Quote</h2>

<div class="row">
  <div class="col s12">
    <form action="/" method="POST">
      <input type="text" id="name" name="quotation" placeholder="Do it.">
      <button type="submit" class="addQuoteButton">Add Quotations</button>
    </form>
  </div>
</div>


{{{ sounds }}}



</main>