<h1>Rick and Morty</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col m4">
      <form action="/" Method="GET">
      <ul>
 	      {{#each quote}}
  		    <li>
         	<p>{{this.quotation}}</p>
  		    </li>
  		  {{/each}}
      </ul>
      
      <button type="submit" class="btn btn-primary newquote" name="" id="button">
      <p>Random Quote</p>
      </button>
      </form>
    </div>

   {{!--  <h2>Add a Quote</h2>

<div class="row">
  <div class="col s12">
    <form action="/" method="POST">
      <input type="text" id="name" name="quotation" placeholder="Do it.">
      <input type="text" id="name" name="CharID" placeholder="1234">
      <input type="text" id="name" name="url" placeholder="url">
      <button type="submit" class="addQuoteButton">Add Quotations</button>
    </form>
  </div>
</div> --}}

 {{!-- <iframe width="50%" height="50" scrolling="no" frameborder="no"
  src="{{#each quote}}
          {{this.url}}
        {{/each}}"  
</iframe> --}}

<div class="player">
  
    {{#each quote}}
        <li>
        <p>{{{this.url}}}</p>
        </li>
    {{/each}}
  
  <iframe width="100%" height="166" scrolling="no" frameborder="no"
  src="https://w.soundcloud.com/player/?url=https://soundcloud.com/jose-arancibia-4749278/mortyquote2?in=jose-arancibia-4749278/sets/quote-generator&amp;auto_play=true">
</iframe>

{{!-- <iframe width="100%" height="166" scrolling="no" frameborder="no"
  src="https://w.soundcloud.com/player/?url=https://soundcloud.com/jose-arancibia-4749278/mortyquote1?in=jose-arancibia-4749278/sets/quote-generator;auto_play=true">
</iframe> --}}

{{!-- <iframe width="100%" height="166" scrolling="no" frameborder="no"
  src="https://w.soundcloud.com/player/?url=https://soundcloud.com/jose-arancibia-4749278/mortyquote2?in=jose-arancibia-4749278/sets/quote-generator&amp;auto_play=true">
</iframe> --}}

{{!-- <iframe width="100%" height="166" scrolling="no" frameborder="no"
  src="https://w.soundcloud.com/player/?url=https://soundcloud.com/jose-arancibia-4749278/rickquote1?in=jose-arancibia-4749278/sets/quote-generator;auto_play=true">
</iframe>
 --}}

</div>


</main>
