<main>
<div class="col m4">
    <form action="/morty" Method="GET">
      <ul>
        {{#each quote}}
          <li>
          <p>{{this.quotation}}</p>
          </li>
        {{/each}}
      </ul>
      <button type="submit" class="btn btn-primary newquote" name="" id="button">
      <p>Morty Quote</p>
      </button>
    </form>
</div>
<div class="player">
  
    {{#each quote}}
        <li>
        <p>{{{this.url}}}</p>
        </li>
    {{/each}}

</div>    
</main>